markdown:
  # Willkommen beim Gewinnspiel von Postfinance und Zugang für alle!

  Hier können Sie ein iPad gewinnen! Lesen Sie dazu diese Seite komplett durch, um die vier gesuchten Lösungswörter zu finden.

  ## Wer ist die gesuchte Person?

  Die gesuchte Person wurde am 04. Januar 1809 in Coupvray bei Paris geboren. Als er drei Jahre alt war, spielte er in seines Vaters Sattlerei mit Werkzeugen und verletzte sich dabei ein Auge schwer. Die Entzündung erfasste auch das andere Auge und führte bald zur Erblindung des Jungen.

  Die gesuchte Person besuchte zunächst die Dorfschule und erhielt zusätzlichen Unterricht durch den Gemeindepfarrer. Schon bald wurde er als Hilfslehrer im Blindeninstitut eingestellt. Doch nebenbei arbeitete Louis Braille zielstrebig und ausdauernd an der Entwicklung einer brauchbaren Punktschrift für Blinde.

  **Antwort:** Louis Braille.

  ## Welchen Beruf konnte Paul Newman auf Grund seiner Farbenblindheit nicht wählen?

  Paul Newman wurde 1925 in Shaker Heights, Ohio, geboren. Bereits in jungen Jahren sammelte er erste schauspielerische Erfahrungen an einem Kindertheater in Cleveland.
  
  1943 meldete er sich freiwillig zur US Navy, um Pilot zu werden. Da er auf Grund seiner Farbenblindheit nicht geeignet war, ein Flugzeug zu steuern, leistete er drei Jahre Dienst als Funker an Bord eines Torpedobombers im pazifischen Raum.

  **Antwort:** Pilot.

  ## Welcher Leidenschaft kann Karl-Heinz Sermond trotz Querschnittslähmung am Computer frönen?

  Karl-Heinz Sermond alias Charly Sermond ist seit über 30 Jahren querschnittsgelähmt. Dank moderner Technik ist es ihm trotzdem möglich, Musik am Computer zu produzieren: dazu benutzt er Mundstab, Sprachsteuerung und Mundtastatur.
  
  Karl-Heinz ist ein behinderter Musiker, der aus seinem Schicksal das Beste gemacht hat: er ist Sänger, Texter, Komponist und Audio Produzent in einer Person.

  **Antwort:** Musik.

  ## Weshalb Barrierefreiheit uns alle etwas angeht

  Bei vielen von uns dürften im Alter die Sinne schwächer werden: vor allem die Fähigkeit zu hören und zu sehen bauen langsam ab. Auch wenn viele ältere Menschen sich nicht als behindert fühlen, so gehören sie oftmals zu dieser Gruppe.

  Barrierefreiheit betrifft also nicht lediglich eine kleine Minderheit in unserer Gesellschaft. Die ältere Generation entdeckt das Internet immer mehr und wird es zukünftig noch stärker nutzen - nicht zuletzt, weil die heutige "junge" Generation die "alte" Generation von morgen sein wird.

  **Antwort:** Barrierefreiheit.

  Besten Dank für's Mitmachen!

p = link_to 'Beenden', '/'