markdown:
  # Willkommen beim Gewinnspiel von PostFinance und Zugang für alle!

  Hier können Sie ein iPad gewinnen! Lesen Sie dazu diese Seite komplett durch, um die vier gesuchten Lösungswörter zu finden.

  ## Wer ist die gesuchte Person?

  Die gesuchte Person wurde am 04. Januar 1809 in Coupvray bei Paris geboren. Als er drei Jahre alt war, spielte er in seines Vaters Sattlerei mit Werkzeugen und verletzte sich dabei ein Auge schwer. Die Entzündung erfasste auch das andere Auge und führte bald zur Erblindung des Jungen.

  Die gesuchte Person besuchte zunächst die Dorfschule und erhielt zusätzlichen Unterricht durch den Gemeindepfarrer. Schon bald wurde er als Hilfslehrer im Blindeninstitut eingestellt. Doch nebenbei arbeitete Louis Braille zielstrebig und ausdauernd an der Entwicklung einer brauchbaren Punktschrift für Blinde.

  **Antwort:** Louis Braille.

  ## Wie kann man farbenunabhängig Information vermitteln?

  Da Farben nicht von allen Menschen gleich wahrgenommen werden können, sollten Informationen nie nur durch Farben codiert sein.

  Stattdessen bietet sich eine Kombination von Farbe mit einem klar erkennbaren und interpretierbaren Zeichen an.

  **Antwort:** Zeichen.

  ## Wozu verhelfen moderne assistive Technologien behinderten Menschen unter anderem?

  Alles läuft immer schneller in unserer Welt. Da bleiben die etwas Langsameren schnell mal auf der Strecke.

  Dank moderner Informationstechnologie können auch diejenigen Ihrer Stimme Gehör verschaffen und sich aktiv in der Gesellschaft einbringen, welchen die üblichen Kommunikationswege verwehrt bleiben.

  **Antwort:** Kommunikation.

  ## Weshalb Barrierefreiheit uns alle etwas angeht

  Bei vielen von uns dürften im Alter die Sinne schwächer werden: vor allem die Fähigkeit zu hören und zu sehen bauen langsam ab. Auch wenn viele ältere Menschen sich nicht als behindert fühlen, so gehören sie oftmals zu dieser Gruppe.

  Barrierefreiheit betrifft also nicht lediglich eine kleine Minderheit in unserer Gesellschaft. Die ältere Generation entdeckt das Internet immer mehr und wird es zukünftig noch stärker nutzen - nicht zuletzt, weil die heutige "junge" Generation die "alte" Generation von morgen sein wird.

  **Antwort:** Barrierefrei.

  Besten Dank für's Mitmachen!

p = link_to 'Beenden', '/'